<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MakeABet</title>
    </head>
    <body>
        {% if not user.is_authenticated %}
            <a href="/login">Login</a><br>
            <a href="/register">Register Here </a>
        {% else %}
            <p>Welcome {{ user.first_name }}</p><br>
            <p>Your points = {{ points }}</p>
            <p>Select a league to bet</p>
            <a href="{% url 'league' 'english-premier-league' %}">English Premier League</a><br>
            <a href="{% url 'league' 'la-liga' %}">La Liga</a><br>
            <a href="{% url 'league' 'serie-a' %}">Serie A</a><br>
            <a href="{% url 'league' 'champions-league' %}">Champions League</a><br>
            <a href="{% url 'league' 'bundesliga' %}">Bundesliga</a><br>
            <a href="{% url 'league' 'ligue-1' %}">Ligue 1</a><br>
            <a href="/leaderboard"><h2>Leaderboard</h2></a><br>
            <a href="/auth_key"><h2>Generate api key</h2></a>
            <br><br><br><a href="/logout">Logout</a>
        {% endif %}
    </body>
</html>