{% extends "base.html" %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-9">
        <h1>Leaderboard</h1>
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <th>Rank</th>
                <th>Email</th>
                <th>Points</th>
            </thead>
            <tbody>
                {% for user_profile in user_profiles %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ user_profile.user.email }}</td>
                        <td>{{ user_profile.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}