<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Football</title>
</head>
<body>
            <p>Select a league to bet</p>
            <a href="{% url 'league' 'premier-league' %}">English Premier League</a><br>
            <a href="{% url 'league' 'la-liga' %}">La Liga</a><br>
            <a href="{% url 'league' 'serie-a' %}">Serie A</a><br>
            <a href="{% url 'league' 'champions-league' %}">Champions League</a><br>
            <a href="{% url 'league' 'bundesliga' %}">Bundesliga</a><br>
            <a href="{% url 'league' 'ligue-1' %}">Ligue 1</a><br>
</body>
</html>